<!-- Modal -->
<div class="modal fade" id="CadastrarVideo" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title-site text-center">Cadastrar Vídeo</h3>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                
                    <input id="video" name="video" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="@Url.Action("NovoVideo", "Midias")">
                
            </div>
        </div>
    </div>
</div>
