@model Model.Entity.RemessaWeb

<div class="card-body" id="form-content">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="form-group  col-sm-6">
                <label for="exampleInputEmail1">Nome</label>
                @Html.EditorFor(model => model.DataDia, new { htmlAttributes = new { @class = "form-control", placeholder = "Nome do Maçon" } })
                @Html.ValidationMessageFor(model => model.DataDia, "", new { @class = "error invalid-feedback" })
            </div>
        </div>
        <button type="submit" class="btn btn-primary ladda-button" data-style="zoom-out" id="edit-btn" onclick="submitForm(this, 'edit-form')">
            <span class="ladda-label">Enviar</span>
        </button>
    }
</div>
